<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="/public/css/dashboard.css" rel="stylesheet">
    <title>编辑</title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">编辑信息</h2>
          <div class="row">
              <div class="col-sm-6">
                  <form action="/members/edit" method="POST" role="form">                      

                      <input name="id" type="hidden" value="{{ member.id }}">

                      <div class="form-group">
                          <label for="name">姓名</label>
                          <input type="text" name="name" class="form-control" id="name" value="{{ member.name }}">
                      </div>

                      <div class="form-group">
                          <label for="age">年纪</label>
                          <input type="text" name="age" class="form-control" id="age" value="{{ member.age }}">
                      </div>

                      <div class="radio-inline">
                          <label>
                            <input type="radio" name="gender" id="male" value="0" checked> 男
                          </label>
                      </div>

                      <div class="radio-inline">
                          <label>
                            <input type="radio" name="gender" id="female" value="1"> 女
                          </label>
                      </div>

                      <div class="form-group">
                          <label for="from">籍贯</label>
                          <input type="text" name="from" class="form-control" id="from" value="{{ member.from }}">
                      </div>

                      <div class="form-group">
                          <label for="position">职位</label>
                          <input type="text" name="position" class="form-control" id="position" value="{{ member.position }}">
                      </div>
                  
                      
                      <button type="submit" class="btn btn-primary">确认编辑</button>
                  </form>
                  
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>